<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div>
      <a href="https://www.github.com/charichi" class="navbar-brand"
        >Brandero</a
      >
    </div>
    <ul class="navbar-nav">
      <li *ngIf="hardcodedAuth.isUserLoggedIn()">
        <a routerLink="/welcome/Brandero" class="nav-link">Home</a>
      </li>
      <li *ngIf="hardcodedAuth.isUserLoggedIn()">
        <a routerLink="/todos" class="nav-link">Todos</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li *ngIf="!hardcodedAuth.isUserLoggedIn()">
        <a routerLink="/login" class="nav-link">Login</a>
      </li>
      <li *ngIf="hardcodedAuth.isUserLoggedIn()">
        <a routerLink="/logout" class="nav-link">Logout</a>
      </li>
    </ul>
  </nav>
</header>
